# python
.venv/
__pycache__/
*.pyc

# editor (optional)
.vscode/
!.vscode/settings.json

# figures
*.pdf
*.svg
plots/

# other stuff
*.pkl
*.csv

# models & data (if you choose to ignore)
BDT_models/
BDT_training_data/

